.file-picker-tree {
	width: 100%;

	tr:nth-child(even) {
		background-color: #f7f7f7;
	}

	&:active {
		color: var(--wp-admin-theme-color);
	}

	/* &:focus {
		outline: 2px solid var(--wp-admin-theme-color);
	} */
}

.file-node-button {
	display: inline-flex;
	text-decoration: none;
	font-family: inherit;
	font-weight: normal;
	font-size: 13px;
	margin: 0;
	border: 0;
	cursor: pointer;
	-webkit-appearance: none;
	background: none;
	transition: box-shadow 0.1s linear;
	height: 30px;
	align-items: center;
	box-sizing: border-box;
	padding: 6px 12px;
	border-radius: 2px;

	width: 100%;
	white-space: nowrap;
	color: var(--wp-components-color-foreground, #1e1e1e);
	background: transparent;
	padding: 6px;

	font-family: -apple-system, 'system-ui', 'Segoe UI', Roboto, Oxygen-Sans,
		Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
	font-size: 13px;
	font-weight: 400;

	&:focus,
	.selected {
		background-color: var(--wp-admin-theme-color);
		color: #fff;
		outline: 0 !important;
		box-shadow: none !important;
	}
}

.file-name {
	margin-left: 10px;
}

.path-picker-control {
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 2px;
	display: flex;
	align-items: center;
	width: 230px;
	gap: 8px;
	cursor: pointer;
}

.selected-path {
	width: 250px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.error-container,
.loading-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 8px;
	padding: 24px;
}

.loading-container :global(.components-spinner) {
	width: 40px;
	height: 40px;
}
