.playground-view {
	flex: 1 0 auto;
}

.playground-view-manager {
	background-color: var(--site-manager-background-color);
	display: none;
}

@media (min-width: 640px) {
	.playground-view-manager {
		display: block;
	}
}

.playground-view-manager-section {
	border: var(--site-manager-border-width) solid
		var(--site-manager-background-color);
	> div {
		border-radius: 12px !important;
		overflow: hidden;
	}
}
