.playground-view {
	flex-grow: 1;
	header {
		max-height: 100px;
		overflow: hidden;
		transition: max-height 0.14s ease-in-out;
	}
}
.playground-view-manager-preview {
	header {
		max-height: 0;
	}
}
