/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroTitle {
	font-size: 2.6rem;
}

.heroSubtitle {
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
	font-size: 1.5rem;
}

.heroBanner {
	padding: 4rem 0;
	text-align: center;
	position: relative;
	overflow: hidden;
}

@media screen and (max-width: 996px) {
	.heroBanner {
		padding: 2rem;
	}
}

.buttons {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
}

.buttonXl {
	--ifm-button-size-multiplier: 1.5;
}

.videoSection {
	display: flex;
	justify-content: center;
}

.video {
	display: block;
	width: 100%;
	max-width: 800px;
	height: 100%;
	aspect-ratio: 16/9;
	margin-left: auto;
	margin-right: auto;
}
