.screenreader-text {
	display: none;
}

.modal-text,
.modal-text-list {
	text-align: left;
}

.modal-text-list {
	padding-left: 15px;
}

.repo-input {
	width: 100%;
	font-size: 18px;
	padding: 5px;
	margin-top: 5px;
}

.notice {
	margin: 20px 0 !important;
}

.examples-dl {
	display: flex;
	flex-direction: column;
	margin: 0;
}

.examples-dl dt {
	font-weight: 500;
	margin-bottom: 2px;
}

.examples-dl dd {
	margin-bottom: 10px;
}

.path-mapping-group {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 20px;
}
.path-mapping-group > label {
	flex: 1;
}
.path-mapping-arrow {
	width: 1.5ch;
	text-align: center;
	align-self: center;
}

/* mobile phones */
@media (max-width: 600px) {
	.path-mapping-group > label {
		width: 100%;
	}
	.path-mapping-arrow {
		display: none;
	}
}

.multiple-inputs button {
	width: 40px !important;
	height: 38px !important;
	margin-top: 5px;
}

.multiple-inputs-row {
	display: flex;
	flex-direction: row;
	align-items: baseline;
	gap: 10px;
}

.multiple-inputs-add-button {
	margin-top: 10px;
}

.multiple-inputs-remove-button {
	width: 40px !important;
	height: 40px !important;
}
