node_modules
packages/php-wasm/node/public
packages/php-wasm/web/public
packages/php-wasm/compile/build-assets
__pycache__
packages/php-wasm/node/src/test/__test*
*.timestamp-1678999213403.mjs
.local
.vscode