node_modules
packages/php-wasm/node/public
packages/php-wasm/web/public
packages/php-wasm/compile/build-assets
packages/playground/compile-wordpress/build-assets
__pycache__
packages/playground/remote/src/wordpress
packages/playground/remote/public
packages/php-wasm/node/src/test/__test*
*.timestamp-1678999213403.mjs
.local
.vscode