node_modules
packages/php-wasm/node/public
packages/php-wasm/web/public
packages/php-wasm/compile/php
packages/playground/compile-wordpress/build-assets
__pycache__
packages/playground/wordpress-builds/src/wordpress
packages/playground/wordpress-builds/public
packages/playground/sync/src/test/wp-*
packages/php-wasm/node/src/test/__test*
*.timestamp-1678999213403.mjs
.local
.vscode
playwright-report