.DS_Store
.idea
.local
.vitepress
.vite
.yarn
.rollup.cache
node_modules
package-lock.json
packages/*/build
testwp
!build/wp-admin
!build/wp-content
!build/wp-includes
!build/php.wasm
!build/php.js
!build/wp.data
!build/wp.js
*.tsbuildinfo
tsdoc-metadata.json
var
dist.zip
.vscode
