.DS_Store
.idea
.local
.rollup.cache
node_modules
package-lock.json
packages/*/build
build/*
build-cli/*
build-api
build-wp
build-php
build-types
build-scripts
!build/wp-admin
!build/wp-content
!build/wp-includes
!build/php.wasm
!build/php.js
!build/wp.data
!build/wp.js
*.tsbuildinfo
tsdoc-metadata.json
var
dist.zip
.vscode
