package-lock.json linguist-generated=true
packages/docs/site/docs/site/docs/ linguist-documentation=true
packages/docs/site/static/diagrams.excalidraw linguist-documentation=true
packages/php-wasm/compile/*/dist linguist-vendored
packages/php-wasm/compile/libz/zlib-src linguist-vendored
packages/php-wasm/node/public/ linguist-generated=true
packages/php-wasm/node/src/test/test-data/ linguist-generated=true
packages/php-wasm/web/public/php/ linguist-generated=true  -diff
packages/playground/sync/src/test/wp-* linguist-generated=true
packages/playground/remote/public/wp-* linguist-generated=true -diff
packages/playground/remote/src/wordpress linguist-generated=true -diff
packages/playground/wordpress-builds/src/wordpress linguist-generated=true -diff
packages/playground/wordpress-builds/src/public linguist-generated=true -diff
packages/playground/blueprints/public/ linguist-generated=true
