[submodule "isomorphic-git"]
    path="isomorphic-git"
    url=https://github.com/adamziel/isomorphic-git.git
[submodule "wp-html-api"]
    path="wp-html-api"
    url=https://github.com/WordPress/wordpress-develop
    
