# Add files here to ignore them from prettier formatting
/dist
/coverage
/node_modules
/packages/php-wasm/node/public
/packages/php-wasm/web/public
/packages/php-wasm/compile/build-assets
/packages/playground/wordpress-builds/build/build-assets
/packages/playground/wordpress-builds/src/wordpress
/packages/playground/wordpress-builds/public/
/packages/php-wasm/node/src/test/__test*
__pycache__
*.timestamp-1678999213403.mjs
.local
.vscode