.form-group {
	display: flex;
	flex-direction: column;
	margin-bottom: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #eaeaea;
}

.form-group-last {
	border-bottom: none;
	padding-bottom: 0;
}

.form-group-linear {
	flex-direction: row;
	align-items: baseline;
	flex-wrap: wrap;
}

.form-group-linear .group-label {
	margin-bottom: 0;
}

/* mobile phones */
@media (max-width: 600px) {
	.form-group-linear {
		justify-content: space-between;
	}
}

.file-input-label {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.file-input-text {
	margin-top: 5px;
	margin-bottom: 15px;
}

.file-input-label .btn {
	width: 100%;
}

.group-label {
	font-size: 18px;
	margin-bottom: 10px;
	margin-right: 15px;
}

.error {
	color: red;
}

.large-select {
	cursor: pointer;
	font-size: 18px;
	max-width: 200px;
}

.radio-input {
	margin-right: 10px;
}

.radio-label {
	font-size: 16px;
	cursor: pointer;
}

input[disabled].radio-input + label {
	color: GrayText;
}

input.radio-input.not-available + label > span {
	color: AccentColor;
}

.submit-row {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	margin-top: 10px;
}
