html {
  background-color: #aaa;
  font-family: sans-serif;
}

html, body, .playground-wrapper {
  height: 100%;
}

.playground-wrapper {
  display: flex;
  flex-direction: column;
  padding: 10px;
  box-sizing: border-box;
  background-color: #1e2327;
  box-shadow: 0 0.25rem 0.5rem rgba(0,0,0,0.75);
}

body {
  padding: 1em;
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: center;
  flex: 1;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
  justify-content: stretch;
  align-items: stretch;
  flex: 2;
  max-width: 50%;
  background-color: #24292e;
  border: 1px solid #40464d;;
  box-sizing: border-box;
  position: relative;
}

.column.editor {
  flex: 1;
}

.separator {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 10px;
}

.frame-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.frame-center {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.frame-center > svg {
  filter: brightness(0.333) contrast(2) brightness(3);
  mix-blend-mode: lighten;
}

iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: 0;
}

button {
  font-weight: bold;
  background: none;
  border: none;
  cursor: pointer;
  background-color: #ccc;
  padding: 8px;
  margin: 7px;
  box-shadow: 0 0.25rem 0.5rem rgba(0,0,0,0.25);
}

button:active {
  position: relative;
  top: 1px;
  left: 1px;
  box-shadow: 0 0.125rem 0.25rem rgba(0,0,0,0.125);
  filter: brightness(0.94);
}

button:hover:not(:active) {
  filter: brightness(1.06);
}

button.cta {
  background-color: #eaaa00;
}

button.run {
  background-image: url('./play-button.svg');
  background-size: auto 55%;
  background-position: 0.325em center;
  background-repeat: no-repeat;
  padding-left: 1.85em;
}

button#new-tab {
  background-image: url('./new-tab-button.svg');
  background-size: auto 55%;
  background-position: calc(100% + -0.5em) center;
  background-repeat: no-repeat;
  padding-right: 2.1em;
}

.jsontext, #error-output {
  width: 100%;
  height: 100%;
  transition: height 0.25s ease-out, padding 0.25s ease-out, background-color 0.25s ease-in;
}

#error-output {
  background-color: rgba(0, 0, 0, 0.25);
  margin: 0;
  padding: 1rem;
  box-sizing: border-box;
  color: #F00;
  white-space: pre-wrap;
}

#error-output:empty {
  background-color: rgba(255, 255, 255, 0.75);
  height: 0%;
  padding: 0rem;
}

.json-container {
  word-break: break-all;
  white-space: break-spaces;
  padding-left: 30px;
  height: 100%;
}

.toolbar {
  background-color: #40464d;
  text-align: right;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.toolbar span {
  color: white;
  font-size: 0.8rem;
  font-style: italic;
  white-space: pre;
  margin-left: 1rem;
}

.toolbar span.spacer {
  flex: 1;
  display: inline-block;
}

pre {
  margin-bottom: 0;
  margin-top: 10px;
}

button {
  transition: opacity 0.5s ease-in-out;
}

[data-starting=true] button.run {
  pointer-events: none;
  filter: saturate(0.25);
  opacity: 0.5;
}

[data-starting=true] button.run {
  animation: button-pulse infinite alternate 0.5s;
}

@keyframes button-pulse {
  from { opacity: 1; }
  to { opacity: 0.5; }
}