.site-manager {
	height: 100vh;
	overflow: hidden;
	padding: var(--site-manager-border-width);
	background-color: var(--site-manager-background-color);
	/* Remove Playground background graphic because branding isn't finalized. */
	/* background-image: url(../../../public/site-manager-background.svg); */
	background-position: bottom left;
	background-repeat: no-repeat;
	width: 100%;

	display: flex;
	flex-direction: row;
}

.sidebar {
	width: var(--site-manager-site-list-width);
	height: 100%;
	@media (max-width: 875px) {
		width: 100%;
	}
}

.site-manager-site-info {
	min-width: var(--site-manager-site-list-width);
	height: 100%;
	flex-grow: 1;
}
