body {
	--site-manager-background-color: #1e1e1e;
	--site-manager-border-width: 12px;
	--site-manager-sidebar-width: 282px;
	--site-manager-site-info-width: 564px;
	--site-manager-border-radius: 12px;
}

.site-manager {
	height: 100vh;
	overflow: hidden;
	padding: var(--site-manager-border-width);
	background-color: var(--site-manager-background-color);
	/* Remove Playground background graphic because branding isn't finalized. */
	/* background-image: url(../../../public/site-manager-background.svg); */
	background-position: bottom left;
	background-repeat: no-repeat;
	width: 100%;

	display: flex;
	flex-direction: row;
}

.site-manager-sidebar {
	width: var(--site-manager-sidebar-width);
	height: 100%;
}

.site-manager-site-info {
	width: var(--site-manager-site-info-width);
	height: 100%;
}
