body.is-embedded .fake-window-wrapper {
	padding: 15px;
}

.wrapper {
	height: 100%;
	transition: padding ease-in-out 0.2s;
}

.wrapper.has-full-size-window {
	padding: 0;
}

.wrapper.has-full-size-window .window {
	max-width: 100vw;
	width: 100%;
	height: 100%;
}

.window {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	overflow: hidden;
}

.content {
	display: flex;
	flex-grow: 1;
	background: #ffffff;
}

.toolbar {
	position: relative;
	z-index: 5;
	display: flex;
	background: #1e2327;
	width: 100%;
	margin: 0 auto;
	padding: 0 22px;
	height: 50px;
	align-items: center;
	max-height: 100px;
	overflow: hidden;
	transition: max-height 0.2s ease-in-out;
	gap: 10px;
}

.toolbar-hidden {
	max-height: 0;
}

.window-controls {
	display: flex;
}

.toolbar-buttons:empty {
	display: none;
}

.toolbar-buttons {
	display: flex;
	gap: 10px;
	color: #fff;
}

.address-bar-slot {
	flex-grow: 1;
	min-width: 200px;
	width: 100%;
	opacity: 1;
	transition: opacity ease-in 0.25s;
}

.address-bar-slot.is-hidden {
	opacity: 0;
	pointer-events: none;
}

@media (max-width: 1100px) {
	.has-site-manager {
		.window-controls {
			display: flex;
			align-items: center;
		}
	}
}

@media (max-width: 902px) {
	.wrapper {
		padding: 0;
		height: 100%;
	}
	.window {
		border-radius: 0;
	}
}

@media (max-width: 812px) {
	.toolbar:not(.toolbar-hidden) {
		padding: 10px;
		height: auto;
		align-items: normal;
	}
	.toolbar-buttons {
		padding: 0;
	}
}
