body.is-embedded .fake-window-wrapper {
	padding: 15px;
}

.wrapper {
	height: 100%;
}

.wrapper.has-full-size-window {
	padding: 0;
}

.wrapper.has-full-size-window .window {
	height: 100%;
	max-width: 100vw;
	width: 100%;
}

.window {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	overflow: hidden;
}

.content {
	position: relative;
	background: #ffffff;
	display: flex;
	flex-grow: 1;
}

@media (max-width: 902px) {
	.wrapper {
		height: 100%;
		padding: 0;
	}

	.window {
		border-radius: 0;
	}
}
