.screenreader-text {
  display: none;
}

.btn {
  cursor: pointer;
  background: none;
  border: none;
}

.btn:hover,
.btn:active {
  opacity: 0.8;
}

.btn-close {
  position: absolute;
  top: 5px;
  right: 5px;
}

.modal-inner {
  position: relative;
  padding: 20px;
}

.modal-text,
.modal-text-list {
  text-align: left;
}

.modal-text-list {
  padding-left: 15px;
}

.inputs-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.inputs-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.inputs-container .btn {
  background: #1e2327;
  color: #fff;
  height: 40px;
  border-radius: 6px;
  margin: 5px 0;
}

.inputs-container .btn[disabled] {
  opacity: 0.5;
}

.file-input-text {
  margin-top: 5px;
  margin-bottom: 15px;
}

.file-input-label .btn {
  width: 100%;
}

.error {
  color: red;
}
