.sidebar {
	height: 100vh;
	display: flex;
	flex-shrink: 0;
	flex-direction: column;
	--site-manager-text-color: #fff;
	color: var(--site-manager-text-color);
	overflow: auto;
}

.sidebar-header {
	display: flex;
	padding: 16px 24px;
	flex: 0 1 auto;
	position: sticky;
	top: 0;
	left: 0;
	background-color: var(--site-manager-background-color);
}

.sidebar-section {
	display: flex;
	flex-direction: column;
	gap: 8px;
	padding: 16px;
}

.sidebar-content {
	flex: 1 1 auto;
	overflow-y: auto;
}

.sidebar-label {
	color: #949494 !important;
	text-transform: uppercase;
	padding: 0 12px 8px;
	font-size: 12px !important;
}

.sidebar-list {
	margin: 0;
	padding: 0;
	list-style: none;
	padding-right: 4px;
}

.sidebar-item {
	font-size: 13px;
	font-weight: 400;
	line-height: 20px;
	color: var(--site-manager-text-color) !important;
	text-align: left;
	border-radius: 4px;
	margin-bottom: 2px;
}
.sidebar-item:hover,
.sidebar-item--selected {
	color: var(--site-manager-text-color) !important;
	background-color: #353535;
}

.sidebar-item--selected:hover {
	background-color: #545454;
}

.sidebar-list-item--logo {
	width: 24px;
	height: 24px;
}

.sidebar-item--site-name {
	line-height: 1;
	overflow: hidden;
	text-overflow: ellipsis;
}

.sidebar-item--storage-icon {
	flex-shrink: 0;
}

.sidebar-logo-button {
	cursor: pointer;
	border: none;
	background: none;
	margin: 0;
	height: 32px;
	width: 32px;
}

.sidebar-footer {
	flex: 0 1 auto;
}

.sidebar-footer-link,
.sidebar-footer-link:hover {
	color: #fff !important;
	font-size: 13px;
	font-weight: 400;
	line-height: 20px;
	text-decoration: none;
}

.sidebar-footer-link-icon {
	font-family: 'Inter', sans-serif;
	font-size: 14px;
	font-weight: 400;
	vertical-align: middle;
}

.add-site-button-button {
	width: 100%;
	margin: 0;
	padding: 0 16px;
	border-top: 1px solid #2b2b2b;
	background-color: var(--site-manager-background-color);
	position: sticky;
	bottom: 0;
	align-items: center;
	justify-content: center;
}

.add-site-button-wrapper {
	text-align: center;
	display: block;
	width: 100%;
	margin-top: 16px;
	padding: 0 16px;
}
