.log-modal__main {
	padding-bottom: 20px;
}

.log-modal__empty_placeholder {
	/* text-align: center; */
	font-size: 1.3rem;
	padding-bottom: 20px;
}

.log-modal__search {
	/* Title margin bottom + log margin top */
	margin-bottom: 1.33rem;
}

.log-modal__log {
	font-family: monospace;
	word-wrap: break-word;
	padding: 0.5rem 0;
	margin: 0.5rem 0;
	white-space-collapse: preserve-breaks;
	border-block-end: 1px dashed currentcolor;
}

.log-modal__log:has(mark) {
	background-color: ivory;
}
