.add-site-button {
	margin: 0 8px;
	padding: 16px;
	border-top: 1px solid #2b2b2b;
	background-color: var(--site-manager-background-color);
	position: sticky;
	bottom: 0;
}

.add-site-button-component {
	text-align: center;
	display: block;
	width: 100%;
}

.add-site-actions {
	margin-top: 16px;
}
