.add-site-button {
	margin: 0 8px;
	padding: 16px;
	border-top: 1px solid #2b2b2b;
	background-color: var(--site-manager-background-color);
}

.add-site-button-component {
	text-align: center;
	display: block;
	width: 100%;
}

.add-site-input {
	margin-bottom: 24px;
}
.add-site-input.invalid-input :global(.components-input-control__backdrop) {
	border-color: #e26f56 !important;
}

.add-site-input.invalid-input :global(.components-base-control__help) {
	color: #e26f56;
}
