$blue: #3858e9;

.view--home {
	overflow-y: hidden;
	background-color: $blue;

	.components-button.is-primary.has-icon {
		&,
		&:hover {
			background-color: #ffffff !important;
			color: #1e1e1e;
		}
	}
}

.home__content {
	position: relative;
	z-index: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.home__title,
.home__description {
	color: #ffffff;
	text-align: center;
	font-style: normal;
	font-weight: 400;
	max-width: 320px;
}

.home__title {
	font-size: 48px;
	line-height: 50px;
	font-family: 'EB Garamond', serif;
	margin: 74px 20px 20px;

	@media screen and (max-height: 460px) {
		margin-top: 48px;
	}
}

.home__description {
	font-size: 16px;
	line-height: 24px;
	margin: 0 0 32px;
}

.scan .components-button.home__action {
	color: #ffffff;
	margin: 0 0 32px;
	> svg {
		fill: #ffffff;
	}
}

.home__image {
	overflow: hidden;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	margin-top: 236px;
	width: calc(1.255 * 50vh);
	max-width: 100%;
	height: 50vh;
	margin: 0 auto;
	& > img {
		position: absolute;
		bottom: 0;
		left: 0;
		width: calc(1.255 * 50vh);
		height: 50vh;
		$home-content-height: 330px;
		max-height: calc(100vh - #{$home-content-height});
	}

	@media screen and (max-height: 700px) {
		display: none;
	}
}
