$blue: #3858e9;

.view--home {
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow-y: hidden;
}

.home__title,
.home__description {
	color: #1c2024;
	text-align: center;
	font-style: normal;
	font-weight: 400;
	max-width: 320px;
}

.home__title {
	font-size: 48px;
	line-height: 50px;
	font-family: 'EB Garamond', serif;
	margin: 74px 20px 20px;
	> span {
		color: $blue;
	}
}

.home__description {
	font-size: 16px;
	line-height: 24px;
	margin: 0 0 32px;
}

.scan .components-button.home__action {
	color: #ffffff;
	margin: 0 0 32px;
	> svg {
		fill: #ffffff;
	}
}

.home__image {
	width: 100%;
	z-index: -1;
	position: absolute;
	bottom: 0;
	max-width: 428px;
}
