/* Site details */

.site-info-panel {
	--padding-size: 24px;

	background: #ffffff;
	box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.08);
	border-radius: var(--site-manager-border-radius);
	overflow: hidden;
}

.padded {
	padding: var(--padding-size);
}

.tabs {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;

	& :global(.components-tab-panel__tabs) {
		--wp-components-color-accent: var(--color-gray-900);
		border-bottom: 1px solid var(--color-gray-200);
	}
	& :global(.components-tab-panel__tabs-item) {
		padding-left: var(--padding-size);
		padding-right: var(--padding-size);
	}
	& :global(.components-tab-panel__tab-content) {
		display: block;
		flex-grow: 1;
		overflow: auto;
		align-self: stretch;
	}
}

.tab-contents {
	width: 100%;
	flex-direction: column;
	padding-top: var(--padding-size);
	padding-bottom: var(--padding-size);
	position: relative;
}

/**
 * A workaround for scrolling overflowing content within
 * a flex container. TODO: find a way to avoid using
 * position: absolute.
 */
.logs-wrapper {
	display: block;
}

.site-notice {
	padding: 40px var(--padding-size);
}

.section-title {
	color: var(--color-gray-900);
	padding: 0;
	margin: 0;
	font-size: 14px;
	line-height: 20px; /* 142.857% */
}

.gray-link {
	color: var(--color-gray-600) !important;
}

.gray-link-dark {
	color: var(--color-gray-900) !important;
}

.button-no-padding {
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.logs-section {
	display: flex;
	height: 100%;
	flex-direction: column;
	width: 100%;
}

.site-info-header-icon {
	box-sizing: border-box;

	width: 48px;
	height: 48px;
	margin-right: 8px;

	background: #ffffff;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 4px;

	flex: none;
	flex-grow: 0;
}

.site-info-header-icon-default {
	width: 100%;
	height: 100%;
	path {
		/* TODO: Confirm or switch color */
		fill: black;
	}
}

.site-info-header-details-name {
	/* Provide enough space for most autogenerated site names to avoid
	   flickering site manager panel width when switching between
	   sites having names of different lengths */
	/* NOTE: This used to be `width`, not `min-width`, and it is possible
	   the above comment no longer applies. */
	min-width: 20ch;
	height: 24px;
	margin: 0;

	/* Inside auto layout */
	flex: none;
	order: 0;
	align-self: stretch;
	flex-grow: 0;

	font-size: 18px;
	line-height: 24px;
	font-weight: 500;
	/* identical to box height, or 150% */
	letter-spacing: -0.01em;

	/* Gutenberg/Gray 900 */
	color: var(--color-gray-900);

	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.site-info-header-details-created-at {
	width: 100%;
	height: 20px;
	font-size: 14px;
	line-height: 20px;
	/* identical to box height, or 154% */

	/* Gutenberg/Gray 700 */
	color: #757575;
}

.site-info-header-actions {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	padding: 0px;
	gap: 8px;

	height: 20px;
	flex: none;
}

.site-info-section {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 0px;
	width: 100%;
	gap: 16px;
}

.info-row-label {
	min-width: 130px;
	flex-basis: 130px;
	color: var(--color-gray-600);
}

.info-row-value {
	color: var(--color-gray-900);
}

.max-width {
	width: 100%;
}

.danger {
	color: var(--color-alert-red);
}

.mobile-footer {
	min-height: 70px !important;
	width: 100%;
	margin: 0;
	align-items: center;
	justify-content: center;
	padding: 16px;
	border-top: 1px solid var(--color-gray-200);
	background: #fff;
}

.mobile-footer-button {
	width: 100%;
	justify-content: center;
}
