body {
	margin: 0;
}

iframe {
	display: block;
	/* iframes are inline by default */
	background: #000;
	border: none;
	/* Reset default border */
	height: 100vh;
	/* Viewport-relative units */
	width: 100vw;
}
