.dropdown-menu {
	display: flex !important;
}

.playground-navigator {
	height: 100vh;
	display: flex;
}

.playground-navigator-screen {
	overflow: hidden;
	flex: 0 0 auto;
	width: 100%;
	animation: open-navigator-screen 0.2s ease-in-out !important;
}

@keyframes open-navigator-screen {
	from {
		transform: translateX(-50px);
		opacity: 0;
		width: 0;
	}
	to {
		transform: none;
		opacity: 1;
		width: var(--site-manager-sidebar-width);
	}
}

@media (min-width: 640px) {
	.playground-navigator-screen {
		width: var(--site-manager-sidebar-width);
	}
}
