.dropdown-menu {
	display: flex !important;
}

.playground-navigator {
	height: 100vh;
	display: flex;
}

.playground-navigator-screen {
	overflow: hidden;
	animation: none !important;
}

.sidebar {
	flex: 0 0 auto;
}

.sidebar-enter {
	opacity: 0;
	width: 0;
}

.sidebar-exit,
.sidebar-enter-active {
	opacity: 1;
	transform: none;
	width: calc(
		var(--site-manager-sidebar-width) + var(--site-manager-site-info-width)
	);
}

/* 
 * Repeated rule to ensure it's more specific than
 * .sidebar-exit
 */
.sidebar-exit-active {
	opacity: 0;
	width: 0;
}

.sidebar-exit-active,
.sidebar-enter-active {
	transition: width 300ms, opacity 300ms;
}

/*
@media (min-width: 640px) {
	.playground-navigator-screen {
		width: calc(
			var(--site-manager-sidebar-width) +
				var(--site-manager-site-info-width)
		);
	}
} */
