.dropdown-menu {
	display: flex !important;
}

.playground-navigator {
	height: 100vh;
	display: flex;
}

.playground-navigator-screen {
	overflow: hidden;
}

.playground-navigator-screen.open {
	flex: 0 0 auto;
	width: calc(
		var(--site-manager-sidebar-width) + var(--site-manager-site-info-width)
	);
	animation: open-navigator-screen 0.2s ease-in-out !important;
}

.playground-navigator-screen.close {
	flex: 0 0 auto;
	width: 0%;
	animation: open-navigator-screen 0.2s ease-in-out reverse !important;
}

@keyframes open-navigator-screen {
	from {
		transform: translateX(-50px);
		opacity: 0;
		width: 0;
	}
	to {
		transform: none;
		opacity: 1;
		width: calc(
			var(--site-manager-sidebar-width) +
				var(--site-manager-site-info-width)
		);
	}
}

@media (min-width: 640px) {
	.playground-navigator-screen {
		width: calc(
			var(--site-manager-sidebar-width) +
				var(--site-manager-site-info-width)
		);
	}
}
