body,
#root,
.view {
	height: 100vh;
	overflow: hidden;
}

.components-button,
.components-button.has-icon,
.components-button.has-icon.has-text,
.components-button.is-primary,
.components-button.is-secondary {
	padding: 10px 31px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 13px;
	font-weight: 600;
	border: none;
	height: 56px;
	cursor: pointer;

	&.is-primary {
		&,
		&:hover,
		&.is-busy {
			background-color: #3858e9;
		}
	}

	&.is-secondary {
		background-color: #fff;
		color: #1e1e1e;
		box-shadow: none;
	}

	& > svg {
		margin-right: 8px;
	}
}

.components-notice {
	width: calc(100% - 72px);
	max-width: 640px;
	left: 50%;
	transform: translateX(-50%);
	margin: 4px 0;
	bottom: 0;
	position: absolute !important;
	z-index: 3;
	padding: 8px 12px !important;
	height: 40px;
	.components-button {
		padding: 6px;
		height: 40px;
	}
}
