.btn {
	cursor: pointer;
	background: none;
	border: none;
}

.btn:hover,
.btn:active {
	opacity: 0.8;
}

.terminal {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1200px;
  padding: 55px 60px;
}
