body > :not(.wp-site-blocks) {
  display: none;
}

.wp-site-blocks > :not(main) {
  display: none;
}

main > :not(.entry-content) {
  display: none;
}

.entry-content {
  position: absolute;
  top: 0;
  left: 0;
}
