.full-size {
	position: relative;
	width: 100%;
	height: 100%;
	border: 0;
	margin: 0;
	padding: 0;
}

.terminal {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1200px;
  padding: 55px 60px;
}

.editor {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  max-width: 1200px;
}

.editor > :first-child {
  max-width: 250px;
  background: #414141;
}

