.modal {
	max-width: 600px;

	p {
		margin-block: 13px;

		&:first-child {
			margin-block-start: 0;
		}
		&:last-child {
			margin-block-end: 0;
		}
	}

	b {
		font-weight: 700;
	}

	textarea {
		resize: vertical;
		width: 100% !important;
		min-height: 3lh;
	}
}

.modal-small {
	max-width: 350px;
}

.modal-buttons {
	margin-top: 1.5rem;
}
