.error-report-modal__header h2 {
	font-size: 20px;
}

.error-report-modal__header p {
	font-size: 13px;
}

.error-report-modal__textarea textarea {
	resize: vertical;
	width: 100% !important;
}

.error-report-modal__footer {
	margin-top: 20px;
}
.error-report-modal__error {
	margin: 16px 0 0;
}
