$spacing: 18px;
.scan__actions {
	position: absolute;
	left: $spacing;
	bottom: $spacing;
	width: calc(100% - #{$spacing * 2});
	z-index: 2;
}

.scan__action {
	transition: all 0.3s;
	width: 100%;
	&.scan__action--success {
		background: var(--WP-Green-Green-30, #00ba37) !important;
		color: #fff !important;
	}
}

.components-notice.scan__error {
	margin: $spacing;
	z-index: 2;
	.components-button {
		padding: 6px;
	}
}

.scan__description {
	color: #fff;
	text-align: center;
	font-size: 16px;
	font-weight: 400;
	line-height: 30px;
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	z-index: 2;
	max-width: 320px;
	margin-top: 64px;
}

.scan__dots {
	display: flex;
	justify-content: center;
	align-items: center;
	.scan__dot--circle {
		width: 8px;
		height: 8px;
		border-radius: 50%;
		background-color: #fff;
		opacity: 0.4;
		margin-right: 8px;
	}
	svg.scan__dot {
		height: 13px;
		width: 13px;
		fill: #fff;
	}
}
