.editors {
	display: grid;
	grid-template-rows: 35px 2fr;
	grid-auto-flow: column;
	grid-gap: 20px;
	justify-content: start;
}

textarea {
	width: 387px;
	height: 240px;
	font-family: monospace;
}

.iframe-container {
	position: relative;
}
