.radio-list {
	list-style: none;
	padding: 0;
	margin: 0;
}

.radio-list > li {
	display: flex;
	align-items: flex-start;
	margin-bottom: 10px;
}

.button-with-spinner {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 8px;
}

.danger {
	color: red;
}

.buttons-wrapper {
	display: flex;
	flex-direction: row;
	gap: 10px;
	justify-content: space-around;
}
