.scan__button {
	.components-button.has-icon {
		border-radius: 50%;
		width: 112px;
		height: 112px;
		margin: 0 auto 48px;
		> svg {
			$icon-size: 30px;
			width: $icon-size;
			height: $icon-size;
			margin: 0;
			fill: #ffffff;
		}
	}

	&.scan__button--loading {
		.components-button.has-icon {
			> svg {
				display: none;
			}
			.components-spinner {
				display: block;
			}
		}
	}

	.components-spinner {
		position: absolute;
		left: 50%;
		transform: translate(-50%, 0);
	}
}
