.error-container,
.loading-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 8px;
	padding: 24px;
}

.loading-container :global(.components-spinner) {
	width: 40px;
	height: 40px;
}
